

@import url('https://fonts.googleapis.com/css?family=Sigmar');




/* Container all */ 
.left-bar-container {
    position: left;
    width: 100%;
    height: 100vh;
    background-color: #574740d8;
    box-shadow: 1px 3px 20px rgb(36, 34, 34);
    border-radius: 0% 2% 2% 0%;
    margin: 0;
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 20px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.left-bar-container > div:first-child {
    margin-bottom: 20px;
}

.left-bar-container > div:last-child {
    margin-top: auto;
}

.left-bar-general-buttons a {
    text-decoration: none;
    color: #e4cbab86;
    font-size: 2.2rem;
    font-family: Sigmar, sans-serif;
}




/* General Buttons */ 
.left-bar-general-buttons > div {
    margin-bottom: 5px;
    padding: 13px;
    border-radius: 10px;
}
.left-bar-general-buttons > div:hover {
    cursor: pointer;
    background-color: #675750cf;
}




/* Project Buttons */
.left-bar-project-wrapper {
    overflow-y: auto;
}
.left-bar-project-wrapper > div:hover {
    cursor: pointer;
}


.left-bar-project-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.left-bar-project-title-wrapper:hover {
    cursor: pointer;
    background-color: #675750cf;
}
.left-bar-project-title-left-bar {
    color: #e4cbab86;
    font-size: 2.2rem;
    font-family: Sigmar, sans-serif;
    padding-left: 15px;
    text-decoration: underline;
}
.left-bar-project-title-sign {
    font-size: 2.2rem;
    font-weight: 1000;
    margin-right: 10px;
    color: #e4cbab86;
    font-family: Sigmar, sans-serif;
}


.left-bar-project-element {
    height: 0;
    overflow: hidden;
    
}
.left-bar-project-element-expand {
    color: #b49b7b86;
    font-size: 1.8rem;
    font-family: Sigmar, sans-serif;
    padding-left: 2rem;
    border-radius: 10px;
}
.left-bar-project-element-expand:hover {
    cursor: pointer;
    background-color: #675750cf;
}





/* New Task Button */
.left-bar-new-task-wrapper {
    position: bottom;
    margin-bottom: 10px;
    border-radius: 10px;
}

.left-bar-new-task-wrapper > div {
    font-size: 1.8rem;
    padding-left: 0.3rem;
}

.left-bar-new-task > a {
    font-family: Sigmar, sans-serif;
    color: #3c3636;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.left-bar-new-task-wrapper:hover {
    cursor: pointer;
    background-color: #675750cf;
}

