
/* Global Settings */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* 0. Container */
.app-container {
    /*background: linear-gradient(to right bottom, rgba(20, 90, 90, .9), rgba(80, 150, 150, .7));*/
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 15% 85%;
    overflow: auto;
    min-width: 950px;
    min-height: 400px;
    overflow: hidden;
}
@media (max-width: 1600px) {
    .app-container {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        min-height: 400px;
        grid-template-columns: 20% 80%;
    }
}
